<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/iconTwitter.png">
</head>

<body>
  <section class="section-accueil">

    <div class="tweet-navigation">
      <img class="tweet-navigation-image" src="/logoTwitter.png" alt="">
      <div class="tweet-navigation-link">
        <a href="/home">
          <img src="/home-run.png" alt="" api-key="eb8f28bb793e438db66ba192689a7dba" />
          <h2>Home</h2>
        </a>
        <a href="/explore">
          <img src="/hastag.png" alt="">
          <h2>Explore</h2>
        </a>
        <a href="">
          <img src="/bookmark.png" alt="">
          <h2>Bookmarks</h2>
        </a>
        <a href="/username">
          <img src="/user.png" alt="">
          <h2>My Tweets</h2>
        </a>
        <!-- href="/logout" -->
        <a href="/"> 
          <img src="/logout.png" alt="">
          <h2>Logout</h2>
        </a>
      </div>
    </div>

    <div class="tweet-container">
      <div class="tweet-container-title">
        <h3>Explore</h3>
      </div>
      <!-- <form action="/tweet" method="post" class="tweet-container-form">
        <div class="tweet-container-message">
          <label for="message"></label>
          <div class="tweet-container-text">
            <textarea name="message" id="message" placeholder="Whats's happening ?"></textarea>
          </div>

        </div>
        <div class="tweet-container-button">
          <button type="submit" class="tweet-button">Tweet</button>
        </div>

      </form> -->

      <div class="comments" >
       
        <div class="comments-comment">
          <a href="/username"> </a>
          <div class="comments-comment-content">
            <div class="comments-comment-content-nameDate">
              <a href="/username">
                <h3 class="comments-comment-content-username"></h3>
              </a>
              
              <span class="comments-comment-content-date"></span>
            </div>
            <p class="comments-comment-content-text"> </p>
          </div>
        </div>
      </div>

      <a href="" alt='content-image' class='article-link'>
          <figure class="comments news-content-premiere article-container" >
            <img src="" alt="" id='img-premiere' class='article-image'>
            <figcaption class='content-premiere'><h2 class='premiere-title-container article-title-container'></h2></figcaption> 
          </figure>
      </a>

      <% for(let i = 0; i< 19; i++){%>

      <a href="" class='article-link'>
          <figure class="comments article-container hover-active" >
             <img class = 'article-image'src="" alt="" />
             <figcaption class='article-news-container'>
               <span class='publishing-date'></span>
                <h2 class='article-title-container'></h2>
                <p class='article-content'>
                </p>
                <span class='author-container'></span>
              </figcaption> 
          </figure>
      </a>
    <%}%>

  </div>

    <div class="tweet-search"></div>
    <script src='explore.js'></script> 
  </section>
</body>

</html>