.section-accueil {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: black;
}

.tweet-navigation {
  width: 24vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2.5%;
}

.tweet-navigation-image {
  width: 3vw;
  margin: 5vh 0;
}

.tweet-navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tweet-navigation-link a {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 5%;
  color: black;
}

.tweet-navigation-link a:hover {
  background-color: #f4f8fc;
  color: #1da1f2;
  border-radius: 30px;
  width: 160px;
}

.tweet-navigation-link a img {
  width: auto;
  height: 40%;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.tweet-navigation-link a h2 {
  font-size: 20px;
  margin-left: 3%;
}

.tweet-container {
  width: 50vw;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.tweet-container h3 {
  font-size: 1.7rem;
}

.tweet-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  padding-left: 1.5%;
  width: 46vw;
  height: 10vh;
  position: fixed;
  border-bottom: 1px solid gray;
}

.tweet-container-form {
  margin-top: 10vh;
  width: 100%;
  border-bottom: 10px solid rgba(128, 128, 128, 0.5);
}

.tweet-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 3% 3% 0 3%;
}

.tweet-container-text img {
  width: 15%;
  height: auto;
  border-radius: 50%;
}

.tweet-container-text textarea {
  width: 100%;
  margin-left: 3%;
  padding: 3%;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 20px;
}

.tweet-container-text textarea:focus {
  outline: 1px solid #1da1f2;
  -webkit-box-shadow: 0 0 7px #1da1f2;
          box-shadow: 0 0 7px #1da1f2;
}

.tweet-container-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 3% 3% 0;
}

.tweet-container-button button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 1% 2%;
  border-radius: 50px;
  cursor: pointer;
}

.tweet-container-button button:hover {
  opacity: 0.9;
}

.tweet-container-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
  position: relative;
}

.tweet-container-profile-background {
  height: 25vh;
}

.tweet-container-profile-picture {
  position: absolute;
  top: 12.5vh;
  left: 3%;
}

.tweet-container-profile-picture img {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
}

.tweet-container-profile-infos {
  height: 25vh;
  padding: 10vh 3%;
  border-bottom: 1px solid grey;
}

.comments-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3%;
  border-bottom: 1px solid grey;
  width: 100%;
}

.comments-comment a {
  text-decoration: none;
}

.comments-comment img {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.comments-comment-content {
  margin-left: 3%;
  min-width: 65%;
  max-width: 65%;
}

.comments-comment-content-nameDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-comment-content a {
  text-decoration: none;
  color: black;
}

.comments-comment-content a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}

.comments-comment-content-username {
  font-weight: 500;
  margin-bottom: 3%;
}

.comments-comment-content-date {
  margin-top: 4%;
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 0.75rem;
}

.comments-comment-content-text {
  line-height: 1.5rem;
}

.tweet-search {
  width: 25vw;
  height: 100%;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home h1 {
  color: black;
}

.home-image {
  width: 3vw;
  margin: 5vh 0;
}

.home-error {
  padding-top: 2%;
  color: #e0245e;
  font-weight: normal;
}

.form {
  width: 40vw;
}

.form-input {
  margin-top: 5vh;
}

.form-input label {
  color: #657786;
  padding: 1vh;
  line-height: 1vh;
}

.form-input input {
  color: black;
  background-color: #fff;
  padding: 1%;
  height: 4vh;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 0.9rem;
}

.form-input input:focus {
  outline: 1px solid #1da1f2;
  -webkit-box-shadow: 0 0 7px #1da1f2;
          box-shadow: 0 0 7px #1da1f2;
}

.form button {
  background-color: #1da1f2;
  color: white;
  width: 100%;
  margin-top: 5vh;
  border-radius: 50px;
  border: none;
  padding: 3vh 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.form button:hover {
  opacity: 0.9;
}

.form-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.form-link a {
  padding: 0 1%;
  color: #1da1f2;
  text-decoration: none;
}

body {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.modification-icons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
  min-width: 100%;
  height: 40px;
}

.modification-icons-block > * {
  margin-right: 2%;
}

.modification-icons-block .edit-icon {
  cursor: pointer;
}

.tweet-details {
  position: absolute;
  left: 1%;
  color: black;
  cursor: pointer;
}

.tweet-details:hover {
  color: #1da1f2;
}

.validate-tweet-edition-button {
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
}

.validate-tweet-edition-button:hover {
  background-color: #fff9f9;
  cursor: pointer;
}

.edit-active {
  display: block;
}

.text-field-edit {
  display: none;
  width: 100%;
  height: 100px;
  border: 1px solid #1da1f2;
  margin-top: 3%;
  font-size: 1.2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #1da1f2;
          box-shadow: 0 0 5px #1da1f2;
}

.text-field-edit:focus {
  outline: 1px solid #1da1f2;
  -webkit-box-shadow: 0 0 7px #1da1f2;
          box-shadow: 0 0 7px #1da1f2;
}

.text-edit-active {
  display: block;
}
/*# sourceMappingURL=style.css.map */